.section {
  padding: 64px 24px;
  background-color: var(--brand-off-white);
  text-align: center;

  @media (min-width: 1100px) {
    padding: 80px 48px;
  }

  &.white {
    background-color: white;
  }
}

.content {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  h2 {
    color: var(--brand-off-black);
  }

  p {
    color: var(--brand-mid-grey);
  }
}

.actions {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  flex-wrap: wrap;
  justify-content: center;
}
