.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  &.fixed {
    flex-direction: row;
    justify-content: center;
  }
}

.title {
  text-align: center;

  h2 {
    color: var(--brand-off-black);
  }
}

.tabs {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: 1100px) {
    gap: 16px;
    flex-wrap: nowrap;
  }
}

.tab {
  padding: 12px 20px;
  border: none;
  background: none;
  font-family: 'graphic-medium', sans-serif;
  font-size: 14px;
  color: var(--brand-mid-grey);
  cursor: pointer;
  border-radius: 100px;
  transition: all 0.2s;
  white-space: nowrap;

  &:hover {
    color: var(--brand-off-black);
    background-color: var(--action-hover);
  }

  &.active {
    color: var(--brand-white);
    background-color: var(--brand-off-black);
  }

  .fixed & {
    color: var(--brand-mid-grey);

    &:hover {
      color: white;
      background-color: var(--tins-light-3);
    }

    &.active {
      color: var(--brand-off-black);
      background-color: var(--brand-white);
    }
  }
}
